$orange: #f15b2a;

body {
  font-family: "Montserrat", monospace;
  margin: 0 !important;
  overflow: hidden;
  background: #191919;
}

.land {
  fill: #393939;
  stroke: #666;
  stroke-linejoin: round;
  stroke-linecap: round
}

.meteor {
  fill: $orange;
  fill-opacity: .4;
  stroke: #666;
  stroke-width: 1px;

  &:hover {
    stroke: #222;
  }

}

.tooltip {
  position: absolute;
  background: #fff;
  pointer-events: none;
  height: auto;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 14px;
  line-height: 1.5;
  padding: 15px;
  font-weight: 700;
  background: rgba(34, 34, 34, .6);

  & > span {
    display: block;
  }

  & > .name {
    color: $orange

  }

  & > .mass, & > .date, & > .year, & > .fall {
    color: #777
  }
}
